<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Home Halifax</title>
    <link rel="stylesheet" href="stylesheet.css"/> 
  </head>

<body>
    <div id="wrapper">
      <header class"main">
        <h1>@Home Halifax</h1>

        <div class='datetime'>
  <!-Local Time Clock widget - HTML code - localtimes.info -->
          <a href="http://localtimes.info/North_America/Canada/Nova_Scotia/Halifax/">
            <script type="text/javascript" src="http://localtimes.info/clock.php?continent=North America&country=Canada&province=Nova Scotia&city=Halifax&color=black-white&widget_number=1100&fwdt=250&lab=1">
            </script>
          <!-end of code-->
        </div> 

        </header>
        
        <div id="core" class="clearfix">
            <section id="left">
                    <img src="http://ww1.prweb.com/prfiles/2007/05/30/529828/BWAttachment529828-7.jpg" alt="halifax harbour webcam" width='600'/>
    

        <iframe class="weather" marginheight="0" marginwidth="0" name="wxButtonFrame" id="wxButtonFrame" height="150" src="http://btn.weather.ca/weatherbuttons/template7.php?placeCode=CANS0057&category0=Cities&containerWidth=180&btnNo=&backgroundColor=blue&multipleCity=0&citySearch=0&celsiusF=C" align="top" frameborder="0" width="180" scrolling="no" allowTransparency="true">
        </iframe>

            </section>
            
            <section id="right">
                      <a class="twitter-timeline" href="https://twitter.com/search?q=%23halifax" data-widget-id="319417736629460992">Tweets about "#halifax"</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </section>
        </div>
        
        <footer>
            <p>Bluenose Girl 2013</p>
        </footer>
    </div>

</body>
</html>