<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@ Home</title>
    <link rel="stylesheet" href="stylesheet.css">

  </head>
  <body>
      <header>
        <div class='logo'><h1>@ Home</h1> </div>
        <div class='datetime'> Date, Local Time </div> 
      </header>

    <div class='column1'>
      <img src="http://ww1.prweb.com/prfiles/2007/05/30/529828/BWAttachment529828-7.jpg" alt="halifax harbour webcam" width='600'/>
    

        <iframe marginheight="0" marginwidth="0" name="wxButtonFrame" id="wxButtonFrame" height="150" src="http://btn.weather.ca/weatherbuttons/template7.php?placeCode=CANS0057&category0=Cities&containerWidth=180&btnNo=&backgroundColor=blue&multipleCity=0&citySearch=0&celsiusF=C" align="top" frameborder="0" width="180" scrolling="no" allowTransparency="true"></iframe>

        <div>The Headlines:</div>
</div>

    <aside> <a class="twitter-timeline" href="https://twitter.com/search?q=%23halifax" data-widget-id="319417736629460992">Tweets about "#halifax"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 </aside>

    <footer>Bluenose Girl 2013</footer>
  </body>
</html>