<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>@Home Halifax</title>
    <link rel="stylesheet" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" href="/stylesheets/stylesheet.css"/> 
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
    <script type="text/javascript" src="/javascript/custom.js"></script>

  </head>

<body>
      <header>
        <h1>@Home Halifax</h1>
          <div class='datetime'>
            <% Time.zone = "Atlantic Time (Canada)" %>
            <% @timehalifax = Time.zone.now %>
            <h2><%= @timehalifax.strftime("%A, %B %d %Y </br> %H:%M:%S ") %></h2>
            <h2 class='hidden'>Halifax Time</h3>
          </div> 
      </header>
        
        <div id="core" class="clearfix">
          <section id="left">
            <iframe class="weather" marginheight="0" marginwidth="0" name="wxButtonFrame" id="wxButtonFrame" height="150" src="http://btn.weather.ca/weatherbuttons/template7.php?placeCode=CANS0057&category0=Cities&containerWidth=180&btnNo=&backgroundColor=blue&multipleCity=0&citySearch=0&celsiusF=C" align="top" frameborder="0" width="180" scrolling="no" allowTransparency="true">
            </iframe>

            <div id='images'> <!-- This is where the Flicker feed goes --></div>

            <iframe class="news" src="http://thechronicleherald.mobi/m/news"> </iframe>

          </section>
            
          <section id="right">
            <a class="twitter-timeline" href="https://twitter.com/search?q=%23halifax" data-widget-id="319417736629460992">Tweets about "#halifax"</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
              </script>

            </section>
        </div>
        
        <footer>
            <p>Bluenose Girl 2013</p>
        </footer>
</body>
</html>