
article, aside, figure, footer, header, hgroup, nav, section { 
    display: block; 
  }

body {
  max-width: 960px;
  font-family: Arial, Verdana sans-serif;
  text-align: center;
  margin: 10px auto 10px auto;
  background-color: white;
}

header {
  height: 150px;
  width: 100%;
  color: #727F95;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  font-size: 3em;
  margin: 10px 5px 45px 5px;
  color: color: #727F95;
}

h2 {
  font-size: 1em;
  font-style: normal;
  color: #727F95;
}

img {
  max-width: 100%;
  min-width: 25%;
  padding-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #727F95;
}

.datetime {
  float: right;
  color: #1B2644;
}

.weather {
  padding: 20px;

}

.news {
  width: 100%;
  padding: 20px;
  height: 800px;
  margin: 20px 0px 10px 0px;
  border: 0;
}

/* page core */
div#core {
  display: block;
  clear: both;
  margin-bottom: 20px;
}
section#left {
  width: 58%;
  float: left;
  margin-right: 5px;
}

section#right {
  float: right;
  width: 35%;
}

 
/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

footer {
  background-color: #727F95;
  color: #EBEBEB;
  height: 75px;
  font-size: 1.5em;
}

