article, aside, figure, footer, header, hgroup, nav, section { 
    display: block; 
  }

body#wrapper {
  font-family: Arial;
}

header.main {
  position: relative;
  height: 200px;
  width: 100%;
  margin: 0px;
  border-bottom: 1px;
}

header.datetime {
  position: absolute;
  bottom: 0;
  right: 0;
}

iframe.weather {
  padding: 20px
  border-bottom; 2px;
}

/* page core */

div#core {
  display: block;
  clear: both;
  margin-bottom: 20px;
}
section#left {
  width: 640px;
  float: left;
  margin: 0 15px;
}
section#right {
  float: left;
  width: 300px;
}

 
/* clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

footer {
  height: 100px;
  background-color: teal;
  width: 100%;
  text-align: center;
}